**/.idea
**/*.pyc
**/datasets
**/.DS_Store
.gitignore
Assignments/assignment2/Herais/saved_params_10000.npy
Assignments/assignment2/Herais/saved_params_15000.npy
Assignments/assignment2/Herais/saved_params_20000.npy
Assignments/assignment2/Herais/saved_params_25000.npy
Assignments/assignment2/Herais/saved_params_30000.npy
Assignments/assignment2/Herais/saved_params_35000.npy
Assignments/assignment2/Herais/saved_params_40000.npy
Assignments/assignment2/Herais/saved_params_5000.npy
Assignments/assignment2/Herais/saved_state_10000.pickle
Assignments/assignment2/Herais/saved_state_15000.pickle
Assignments/assignment2/Herais/saved_state_20000.pickle
Assignments/assignment2/Herais/saved_state_25000.pickle
Assignments/assignment2/Herais/saved_state_30000.pickle
Assignments/assignment2/Herais/saved_state_35000.pickle
Assignments/assignment2/Herais/saved_state_40000.pickle
Assignments/assignment2/Herais/saved_state_5000.pickle
Assignments/assignment2/Herais/saved_state_5000.pickle
Assignments/assignment2/Herais/saved_state_40000.pickle
Assignments/assignment2/Herais/saved_state_35000.pickle
Assignments/assignment2/Herais/saved_state_30000.pickle
Assignments/assignment2/Herais/saved_state_25000.pickle
Assignments/assignment2/Herais/saved_state_20000.pickle
Assignments/assignment2/Herais/saved_state_15000.pickle
Assignments/assignment2/Herais/saved_state_10000.pickle
Assignments/assignment2/Herais/saved_params_5000.npy
Assignments/assignment2/Herais/saved_params_40000.npy
Assignments/assignment2/Herais/saved_params_35000.npy
Assignments/assignment2/Herais/saved_params_30000.npy
Assignments/assignment2/Herais/saved_params_25000.npy
Assignments/assignment2/Herais/saved_params_20000.npy
Assignments/assignment2/Herais/saved_params_15000.npy
Assignments/assignment2/Herais/saved_params_10000.npy
